{% extends 'base.html' %}

{% block content %}
<h1>Добавление рецепта</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
<!--    <div>-->
<!--        <label for="{{ form.title.id_for_label }}">Название:</label>-->
<!--        {{ form.title }}-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="{{ form.description.id_for_label }}">Описание:</label>-->
<!--        {{ form.description }}-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="{{ form.cooking_steps.id_for_label }}">Шаги приготовления:</label>-->
<!--        {{ form.cooking_steps }}-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="{{ form.cooking_time.id_for_label }}">Время приготовления, мин</label>-->
<!--        {{ form.cooking_time }}-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="{{ form.image.id_for_label }}">Изображение:</label>-->
<!--        {{ form.image }}-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="{{ form.category.id_for_label }}">Категория:</label>-->
<!--        {{ form.category }}-->
<!--    </div>-->

<!--    <div>-->
<!--        <label for="{{ form.ingredients.id_for_label }}">Ингредиенты:</label>-->
<!--        {{ form.ingredients }}-->
<!--    </div>-->

    <button type="submit">Сохранить</button>
</form>
{% endblock %}
