{% extends 'base.html' %}

{% block content %}
<h1>Добавление или редактирование рецепта</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Название"><br>
    <textarea name="description" placeholder="Описание"></textarea><br>
    <textarea name="cooking_steps" placeholder="Шаги приготовления"></textarea><br>
    <input type="number" name="cooking_time" placeholder="Время приготовления"><br>
    <input type="file" name="image"><br>
    {% for i in range(num_ingredients) %}
        <input type="text" name="ingredient_name_{{ i }}" placeholder="Название ингредиента"><br>
        <input type="text" name="ingredient_quantity_{{ i }}" placeholder="Количество"><br>
    {% endfor %}
    <button type="submit">Сохранить</button>
</form>

{% endblock %}